<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAESAELAND-SI</title>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet" />
    <!-- 폰트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/4350/4350287.png" />

    <link rel="stylesheet" type="text/css" href="/static/styles/detailStyleSI.css">
    <script type="text/javascript" src="/static/js/detailSI.js"></script>

</head>
<body>
    <div class="mainbody">
        <div class="container">
            <div>
                <h1>이개새랜드</h1>
            </div>
            <div class="profile">
                <img src="https://avatars.githubusercontent.com/u/132900382?v=4" alt="image" />
            </div>
            <div class="text1">
                <div>
                    <p>mbti : ENTJ <b></b> </p>
                </div>
                <div>
                    <p>blog : <a href='https://velog.io/@tescodanish'>https://velog.io/@tescodanish</a></p>
                </div>
                <div id="">
                    <p>email1 : tescodanish@naver.com</p>
                    <p>email2 : tescodanish@gmail.com</p>
                </div>
                <div id="">
                    <p>
                        #당구 #게임 #노래방 #롤 #메이플 #농구
                        #수학 #과학
                    </p>
                </div>
            </div>
            <div>
                <br>
            </div>
            <div class="bottom1">
                <p><b>이상인 개새기</b> 아일랜드에 오신 것을 환영합니다!!</p>
                <p>좋은 개발자가 되고 싶은 이상인입니다.</p>
                <p>노래방, 당구와 게임 좋아합니다.</p>
                <p>좋은 개발자가 되고 싶다고 말해놓고 노는 것만 줄줄이 늘어놨네요..!</p>
                <br>
            </div>

            <div class="bottom2">
                <p><b>★장점 :</b>
                    저의 장점은 침착함과 긍정적인 마인드입니다.
                    문제가 발생해도 당황하지 않고
                    주변 사람들을 진정시킵니다.
                    <br>
                </p>
                <p>(라고 생각했는데 1주차 프로젝트부터 생각이 잘못됐나 싶은건 비밀)
                </p>
                <br>
                <p><b>★목표 : </b>원하는 것을 개발 할 수 있는 개발자, 누구나 편하게 찾아올 수 있는
                    <b>친절한 개발자</b>가되고싶습니다. 백엔드 개발자로서 역량을 쌓고 데이터 관련 직무로
                    커리어 전환까지 하는 것이 저의 목표입니다.
                </p>
                <p>아직은 먼 이야기일 수 있지만 차선의 노력으로 달려가겠습니다.</p>
                <br>
                <p> <b>★협업 스타일 : </b>저는 흐름이 끊기지 않게 하는 것을 추구합니다.</p>
                <p>누군가 앞장서서 나선다면 의견에 따르는 것을선호하고,</p>
                <p>목소리를 내는 사람이 없어 진행이 안 될 것 같으면 나서서 목소리를 내는 스타일입니다.</p>
                <p>주장이 강하신 분, 맡은 자리에서 자기 역할을 수행하고 싶으신 분 모두 환영입니다.</p>
                <p><b>※</b> 책임은 본인의 것임을 밝힙..ㄴ..</p>
                <br>

                <p><b>★우리의 약속</b></p>
                <p>우리 개새기들은 다음과 같은 약속을 나누었습니다.</p>
                <p><b>1.</b> 9시에 늦지 않기 위해서 8시 57분에 인사 나누기</p>
                <p><b>2.</b> ~~님 이라는 호칭 잊지 않기</p>
                <p><b>3.</b> 2시, 7시 및 8시 50분에 회의시간 갖기</p>
                <p><b>4.</b> 문제가 생겼을 때 팀원에게 바로 연락하기</p>
                <br>
                <p><b>P.S</b></p>
                <p>우선 대단한 블로그 (가 될 예정인) 제 블로그 많은 관심 부탁드립니다.</p>
                <p>지금, 몇 개월 후 혹은 몇 년 후라도 어떤 관심과 의견도 감사히 받겠습니다.</p>
                <p>같이 당구치고 싶으신 분도 방명록 남겨주세요.</p>
                <p>저는 수원에 살고 21점 칩니다!</p>
                <p>같이 롤 하고싶으신 분도 방명록 남겨주세요.</p>
                <p>제 아이디는 지동순대곱창타운, 멘탈나간탑 입니다!</p>
                <h3>
                    <p>방명록 남겨주세요. 남겨주세요. 남겨주세요.</p>
                </h3>
                <br>
                <p>긴 글 읽어주신 점 대단히 감사합니다.</p>
                <p>아직 <b>다른 개새랜드</b>를 방문해보지 않으셨다구요?</p>
                <p>이개새랜드보다 훨씬 <b>★알차고 잘 만들어진★</b>
                    개새랜드가 방문자를 기다리고 있습니다. 잊지 말고 방문해주세요!!</p>
                <br />
                <div id="like-area">
                    <form method="post">
                        <p class="likeCnt">12</p> 
                        <button id="likeButton" onclick=""> 추천 </button>
                    </form>
                </div>
                <hr>

                <div class="comment-area">
                    <br />
                    <table class="comment-tbl">
                        <tr>
                            <td>이름 : </td>
                            <td><input id="commentName" class="form-control" type="text"> </td>
                        </tr>
                        <tr>
                            <td>내용 : </td>
                            <td><textarea id="commentContent" class="form-control"
                                    placeholder="개새랜드에 응원 한마디"></textarea>
                        </tr>
                        <tr>
                            <div class="comment-tbl2">
                                비밀번호 : <input type="password" id="commentPassword" >
                                <button type="submit" class="comment-btn" onclick="posting()">
                                    방명록 작성</button></p>
                            </div>
                        </tr>
                    </table>

                    <hr />

                    <div class="comment-box" id="comments">

                        <div class="comment1">
                            <div class="comments">
                                임채영 : " 개!!! "
                            </div>
                            <div class="btn-area">
                                <button class="update-btn" onclick="location.href='/'">수정</button> <button
                                    class="delete-btn" onclick="">삭제</button>
                            </div>
                        </div>

                        <div class="comment1">
                            <div class="comments">
                                일론머스크 : " W is this? "
                            </div>
                            <div class="btn-area">
                                <button class="update-btn" onclick="location.href='/'">수정</button> <button
                                    class="delete-btn" onclick="">삭제</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="bottom_btn">
                    <button id="list_btn" onclick="location.href='/detailCY'">이전</button>
                    <button id="list_btn" onclick="location.href='/'">목록</button>
                    <button id="list_btn" onclick="location.href='/detailUS'">다음</button>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>