<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAESAE-LAND</title>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet" />
    <!-- 폰트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/4350/4350287.png" />

    <link rel="stylesheet" type="text/css" href="/static/styles/detailStyle.css">
    <script type="text/javascript" src="/static/js/detailJS.js"></script>


    <title>임채영 개새기의 아일랜드</title>
</head>

<body>
    <div class="mainbody">
        <div class="container">
            <div class="header">
                <div class="img">
                    <img src="https://jjalbang.today/jjv31I.gif" alt="image" />
                </div>
                <div class="text1">
                    <div>
                        <h1>임채영 개새기의 <br /> 아일랜드</h1>
                    </div>
                    <div>
                        <p>mbti : <b>ENTP</b> </p>
                    </div>
                    <div>
                        <p>blog : <a href='https://cdev.tistory.com/'>https://cdev.tistory.com/</a></p>
                    </div>
                    <div id="">
                        <p>email : <a href="mailto:limchae098@gmail.com">limchae098@gmail.com</a></p>
                    </div>
                    <div id="">
                        <p>#운동중독 #물먹는하마 #소식</p>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <p>안녕하세요! 이곳은 <b>개</b>발자 <b>새</b>내<b>기</b>, 임채영님의 아일랜드 입니다.
                    <br /><br />
                    <b>"활동적이고, 호기심 많은 스타일"</b>
                    <br />
                    외향적인 편이지만, 정신없이 본인 말만 하는 사람들과는 기가 빨려서 초고속 귀가합니다.
                    그렇게 기 빨리면 반나절 정도 집에서 쉬다가 다시 지루해져서 놀러 나갑니다.
                    새로운 일을 시도하는 걸 좋아하고, 여행은 혼자 가는걸 선호합니다. 새 여행지에서 새로운
                    사람들을 만나서 각자의 가치관, 삶에 대한 이야기를 나누는걸 좋아합니다.
                    주변에서 <b>"물음표 살인마"</b>라고 불립니다. 궁금한거 참을 수 있지만 안 참습니다.
                    궁금해서. 좋아하는 건.. 어딘가 찌질한데 귀엽고 통통한
                    <br /><br />

                    최근에 클라이밍을 시작해서 언제든 클라이밍 같이 하고 싶으신 분은 언제든 말만 해주세요!!
                    입문 단계라 잘은 못하지만 <b>"영상 촬영 + 리액션 크게"</b> 무조건 자신 있습니다 !

                </p>
                <p>
                    제 가장 큰 장점은 겉으로 보여지는 모습이 그대로 제 모습이라는 점입니다.
                    <br />
                    그리고 뒷담화 하는 사람들한테 뒤에서 욕하지 말라고 말합니다.
                </p>

                <p> 제 인생 목표는 "내가 해야 할 일은 <b>적당히</b>, 재밌어 보이는건 <b>열심히</b>"
                    <br />
                    이야기가 잘 통하는 사람이랑 대화하는걸 가장 좋아해서,
                    깊은 대화가 통하는 사람을 만나서 평생 친구하는게 제 인생 목표 중 하나입니다!
                </p>
                <p> 협업할 때는 묵묵히 맡은 바를 잘 해내고, 돌려 말하면 소통에 문제가 있어 기분
                    나쁘지 않는 선에서 직설적으로 의견을 잘 전달하려 노력합니다. </p>

                <p> 저에 대한 질문 언제든 방명록에 적어주세요!! 대신 누군지 모를만한 이름으로 적어주세요!!</p>
                <br />
                <hr />

                <div class="comment-area">
                    <br />
                    <table class="comment-tbl">
                        <tr>
                            <td>이름 : </td>
                            <td><input id="commentName" class="form-control" type="text"> </td>
                        </tr>
                        <tr>
                            <td>내용 : </td>
                            <td><textarea id="commentContent" class="form-control"
                                    placeholder="개새랜드에 응원 한마디"></textarea>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="comment-tbl2">
                                    비밀번호 : <input type="password" id="password" class="">
                                    <button type="button" class="comment-btn" onclick="posting()">
                                        방명록 작성</button></p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <hr />

                    <div class="comment-box" id="comments">

                        <div class="comment1">
                            <div class="comments">
                                임채영 : " 개!!! "
                            </div>
                            <div class="btn-area">
                                <button class="update-btn" onclick="location.href='/'">수정</button> <button
                                    class="delete-btn" onclick="">삭제</button>
                            </div>
                        </div>

                        <div class="comment1">
                            <div class="comments">
                                일론머스크 : " W is this? "
                            </div>
                            <div class="btn-area">
                                <button class="update-btn" onclick="location.href='/'">수정</button> <button
                                    class="delete-btn" onclick="">삭제</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</body>

</html>