<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet&display=swap" rel="stylesheet">
    <!-- 내리는 효과 js 적용 코드 -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='snowfall.jquery.js') }}"></script> -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/4350/4350287.png" /> <!--상단 아이콘-->
    <title>GAESAE-LAND</title>
    
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
    <script type="text/javascript" src="/static/js/main.js"></script>
    
</head>
<!-- 내리는 효과 -->
<!-- <script type="text/javascript" src="../static/js/snowfall.jquery.js"></script>
    <script type='text/javascript'>
        $(document).ready(function () {
            $(document).snowfall({
                minSize: 5,
                maxSize: 10,
                round: true,
                flakeColor: '#E3FDFD'
            })
        });
    </script> -->
<body>
    <!-- 팝업창 -->
    <div id="popup">
        <div id="popmenu">
            <h2>개새기</h2>
            <h3>개발자 새내기</h3>
            <h2>개새랜드 깃허브</h2>
            <h3><a href='https://github.com/uiseongsang/ggLand'>https://github.com/uiseongsang/ggLand</a></h3>
            <div class="exit">
                <button id="skip" onclick="popup_close()">닫기</button>
            </div>
        </div>
    </div>
    <!-- 팝업창 종료 --> 
    <div class="team" >
        <div class="circle">
            <span id = "titlename">개새기</span>
            <span id = "titlename">개발자새내기</span>
            <span id ="mini">🛥</span> <!--🛥-->
        </div>
    </div>
    <div class="page1">
        <img src="https://imgtr.ee/images/2023/05/18/2UTUI.jpg" alt="img X">
        <div class="pagetext">
            <span>name:상의성</span>
            <span>mbti:INFJ</span>
            <span>tag:#여행에미치다 
                <br>#평냉전도자 #헬정자</br>
            </span>
        </div>
    </div>
    <div class="page2">
        <img src="https://imgtr.ee/images/2023/05/18/2kDXD.jpg" alt="img X">
        <div class="pagetext">
            <span>name:이상인</span>
            <span>mbti:ENTJ</span>
            <span>tag:#당구 #게임
                <br> #노래방  #롤 #메이플</br>
            </span>
        </div>
    </div>
    <div class="page3">
        <img src="{{url_for('static', filename = '/image/suyeon.jpg')}}" alt="img X">
        <div class="pagetext">
            <span>name:이수연</span>
            <span>mbti:ISFJ</span>
            <span>tag: #카페 #음악 
                <br>#집순이</br>
            </span>
        </div>
    </div>
    <div class="page4">
        <img src="https://imgtr.ee/images/2023/05/18/2kJNJ.jpg" alt="img X">
        <div class="pagetext">
            <span>name:임채영</span>
            <span>mbti:ENTP</span>
            <span>tag:#운동중독 
                <br>#물먹는하마 #소식 </br>
            </span>
        </div>
    </div>
    <div class="page5">
        <img src="https://imgtr.ee/images/2023/05/18/2kQvM.jpg" alt="img X">
        <div class="pagetext">
            <span>name:조혜연</span>
            <span>mbti:ENTJ</span>
            <span>tag:#사진 #여행 
                <br>#프로루티너</br>
            </span>
        </div>
    </div>
    <div class="mainhead">
        <div class="maintitle">
            <span>개</span>
            <span>새</span>
            <span>랜</span>
            <span>드</span>
        </div>
        <div class="maintitle2">
            <span>🏝️ 오신 것을 환영합니다 🏝️</span> <!--🏝-->
        </div>
    </div>
    <div class="mainbody">
    </div>
</body>
</html>